.banner{
    width: 100%;
    height: 600px;
   position: relative;
    background-image:
    linear-gradient( rgba(0,0,0,0.70), rgba(0,0,0,0.60)),
    url('https://www.simplilearn.com/ice9/free_resources_article_thumb/How_to_Learn_R_Programming.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* a */

.info{
    position: absolute;
    margin-top: 200px;
}
.info h2{
    letter-spacing: 3px;
    font-size: 35px;
}
.info button{
    margin-top: 32px;
}
.info a{
    color: white !important;
}
.about-info .icon{
    font-size: 31px;
   
}
.icon a{
     margin: 5px;
}
/* about */

.hero img{
    height: 400px;
    width: 300px;
}
.about-info{
    margin-left: 40px;
  
}
/* projects */
.card img{
    height: 260px;
}
/* skills */
.skills{
    max-width: 730px;
    margin: 0 auto;
    padding-left: 27px;
}
.skill-text{
    font-weight: 900;
    font-size: 22px;
    color: rgb(10, 196, 72);
    letter-spacing: 3px;
}
.skill{
    width: 100px;
    height: 100px;
    margin: 5px;
}
.skill img{
    width: 40px;
    height: 40px;
}
.skill h1{
    font-weight: 800;
    letter-spacing: 1px;
    color: gray;
}
